.creditSession{
    display: flex;
}
.creditSession > .icon{
    padding: .8rem;
    border-radius: 50%;
    border: 1px solid var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
}
.creditSession > .icon > svg{
    font-size: 1.4rem;
    color: var(--blue);
}
.desc > h3{
    font-weight: 100;
    color: black;
}
.desc > a {
    color: var(--blue);
    font-weight: 300;
    font-size: .8rem;
}
.desc > a:hover{
    color: var(--deepBlue);
    transition: .2s;
}