.arrow{
    display: none !important;
    padding: 1rem;
    background-color: white;
    box-shadow: 1px 1px 3px #0000006b;
    color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    z-index: 2;
}
.arrow > svg{
    font-size: 2rem;
}
.leftArrow{
    position: absolute;
    left: -1.9rem;
    top: 8rem;
}
.rightArrow {
    position: absolute;
    right: -1.9rem;
    top: 8rem;
}
