:root {
    --bg: #EBEBEB;
    --yellow: #fff159;
    --green: #00a650;
    --blue: #3483fa;
    --deepBlue: #2c68c2;
    --gray:#b3b3b357;
    --deepGray: #333333;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    list-style: none;
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
.App{
    background-color: var(--bg);
    min-height: 100vh;
    width: 100vw;
}