.slideContainer{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
.slides{
    overflow: hidden;
    height: 380px;
}
.slideList{
    display: flex;
    width: auto;
    height: 100%;
    gap: 1rem;
    position: relative;
    transition: .2s;
}
.slideContainer:hover .arrow{
    display: flex !important;
}