.slideContainer{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
.slides{
    overflow: hidden;
    height: 380px;
}
.slideList{
    display: flex;
    width: 400%;
    height: 100%;
    gap: 1rem;
    position: relative;
    transition: .2s;
}
.arrow{
    display: none !important;
    padding: 1rem;
    background-color: white;
    box-shadow: 1px 1px 3px #0000006b;
    color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
}
.arrow > svg{
    font-size: 2rem;
}
.leftArrow{
    position: absolute;
    left: -1.9rem;
    top: 8rem;
}
.rightArrow {
    position: absolute;
    right: -1rem;
    top: 8rem;
}
.slideContainer:hover .arrow{
    display: flex !important;
}